# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Python cache
__pycache__/
*.pyc

# Logs
*.log

# Unused project files
best_model.h5
New-Cattle-Diseasee-3/
dataset_download.ipynb
prepare_data.py
youtube_main.py
training_model_improv*/
training_model.ipynb