# Ignore Python virtual environments
venv/
env/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore logs
*.log

# Ignore model files
cattle_final_archi.json
cattle_final.weights.h5
*.h5
*.keras
*.pb